<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<title>Weather Visualization</title>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

        <!--CSS Link-->
        <link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header>
			<div class="jumbotron">
				<span style="text-align: center;">
					<h2>Welcome to the Mars information aggregator</h2>
					</br>
					<p>
						<a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
					</p>
				</span>
			</div>
		</header>
		<div class= "container">
			<div class="row">
				<div class="col">
					<div class="jumbotron">
						<img src="{{ data.featured_image_url }}" width="100%">
					</div>
				</div>
			</div>

			</br>

			<div class="row">
				<div class="col-md">
					<div class="jumbotron">
						<h3>Current Weather on Mars</h3>
						<p>{{data.weather}}</p>
					</div>
				</div>
				<div class="col-md">
					<div class="jumbotron">
						<table>{{data.mars_facts | safe}}</table>
					</div>
				</div>
			</div>

			</br>

			<div class="row">
				<div class="col-md">
					<div class="jumbotron">
						<h3>Latest Mars News</h3>
						<div class="container">
						{% for news in data.nasa_news %}
							</br>
							<div class="row">
								<h4 class="media-heading">{{news.headline}}</h4>
								<p>{{news.paragraph}}</p>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>

			</br>

			<div class="row">
			{% for image in data.images %}
		        <div class="col-md-6">
		        	<div class="jumbotron">
			            <div class="thumbnail">
				            <img src="{{ image.img_url }}" width="100%">
				            <div class="caption">
				                <h4>{{image.title}}</h4>
				            </div>
			            </div>
		            </div>
		        </div>
		    {% endfor %}
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>